<a href="https://colab.research.google.com/github/vkjadon/python/blob/main/02python_special_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Helping Function

##type() function

In [ ]:
integer_num=10
float_num = 40.5
string_model = 'HC-SR04'

In [ ]:
print(f'The type of `integer_num` is {type(integer_num)}')
print(f'The type of `float_num` is {type(float_num)}')
print(f'The type of `sensor_model` is {type(string_model)}')

Click [Formatted String](https://docs.python.org/3/tutorial/inputoutput.html) to go to documentation to explore more.

In [ ]:
dict = {"key-1" : "value-1", "key-2" : "value-2"}
print(type(dict))
dir(dict)

In [ ]:
string_name = 'ultrasonic Sensor'
print(string_model + ' is a ' + string_name)
print(f"{string_model} is a {string_name}")

In [ ]:
if(str.islower(string_name)):
  print(f"{string_name} is in lower case")
else:
  print(string_name.upper())
  print(string_name)

In [ ]:
print(string_name.capitalize())
print(string_name.casefold())
print(string_name.center(20))

Click [String Class : str](https://docs.python.org/3/library/stdtypes.html#str) to go to documentation to explore more.

##dir() and help() functions

In [ ]:
x=40.8
print(dir(x))

In [ ]:
help(dir)

In [ ]:
attributes_and_methods = [attr for attr in dir(x) if not attr.startswith('__')]
print(attributes_and_methods)

In [ ]:
string = 'abcd'
# attributes_and_methods = [strg for strg in dir(string) if not strg.startswith('__')]
print(help(str))

In [ ]:
obj = 10

methods = [n for n in dir(obj) if not n.startswith('__') and callable(getattr(obj, n))]
attributes = [n for n in dir(obj) if not n.startswith('__') and not callable(getattr(obj, n))]

print(f"Attributes :  {attributes}")
print(f"Methods : {methods}")

In [ ]:
print(obj.real)
print(obj.imag)
print(obj.numerator)
print(obj.denominator)

In [ ]:
print(f"bit_length : {obj.bit_length()}")
print(f"bit_count : {obj.bit_count()}")
print(f"as_integer_ratio : {obj.as_integer_ratio()}")
print(f"conjugate :  {obj.conjugate()}")

Click [Integer/Float Class : int](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex) to go to documentation to explore more.

In [ ]:
x=10.5
help(x.is_integer)

In [ ]:
help(callable)

In [ ]:
callable(x.is_integer)

In [ ]:
help(getattr)
getattr(x, 'is_integer')
# getattr(x, 'is_integer')()

#Lambda Function

In [ ]:
def add(a,b):
  return a+b

In [ ]:
sum=add(10,17)
print(sum)

In [ ]:
add = lambda a, b: a + b

In [ ]:
result = add(3, 4)
print(result)

In [ ]:
square = lambda x: x ** 2
result = square(5)
print(result)

In [ ]:
(lambda a, b: a + b)(1,2)

##Keyword Arguements

In [ ]:
#Keyword arguement
expression = lambda a, b, c : a * (b + c)
#arguement can be in any order
result = expression(3, c=10, b=5)
# result = expression(c=10, 3, b=5) #Will throw an error
print(result)

##Default arguement

In [ ]:
#Default arguement
expression = lambda a, b, c=8 : a * (b + c)
# expression = lambda a, b=20, c : a * (b + c) #Will throw an error
result = expression(3, 10)
print(result)

#Comprehensions in Python

##List Comprehension

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]

In [ ]:
print([x+2 for x in numbers])

In [ ]:
print([x+2 for x in numbers if x % 2 == 0])

In [ ]:
print(["odd" if x % 2 != 0 else "even" for x in numbers])

In [ ]:
print(["even" for x in numbers if x % 2 == 0])

In [ ]:
import numpy as np

image = np.random.randn(5, 28, 28, 3)

# Flatten images into 1D vectors
flattened = np.array([img.flatten() for img in image])
print("Flattened shape:", flattened.shape)
print("Flattened shape of first image:", flattened[0].shape)

In [ ]:
help(image.flatten())

## Dict comprehension

In [ ]:
print({x: x**2 for x in numbers})

In [ ]:
print({x: "even" for x in numbers if x % 2 == 0})

In [ ]:
print({x: "even" if x % 2 == 0 else "odd" for x in numbers})

In [ ]:
metrics = ["accuracy", "precision", "recall", "f1"]
values  = [0.91, 0.88, 0.84, 0.86]

results = {m: v for m, v in zip(metrics, values)}
print("Results Dict:", results)

## Set Comprehension

In [ ]:
labels = ["cat", "fish", "dog", "fish", "dog", "cat"]
unique_labels = set(labels)

for cls in unique_labels:
  print(f"Training classifier for class: {cls}")

In [ ]:
for idx, cls in enumerate(unique_labels):
# for idx, cls in enumerate(unique_labels, 2):
  print(f"Class {idx}: {cls}")

In [ ]:
help(enumerate)

## Generator expression

In [ ]:
gen = (x*x for x in range(5))
# gen = [x*x for x in range(5)]

In [ ]:
print(gen)
print(next(gen))

In [ ]:
for val in gen:
  print(val)

In [ ]:
print(gen)

#Higher Order Functions

In [ ]:
def double(x):
  return x * 2

def apply_operation(func, num):
  return func(num)

result = apply_operation(double, 5)
print(result)

In [ ]:
result = apply_operation(double, [6,9])
print(result)

In [ ]:
def double(x):
  return [i * 2 for i in x]

result = apply_operation(double, [6, 9])
print(result)

In [ ]:
ho_func = lambda func, x : x + func(x)
ho_func(lambda x : x**2, 6)

In [ ]:
ho_func(double, 6)

##`map()` Function

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Using map (lazy evaluation)
doubled_map = map(lambda x: x * 2, numbers)
print(doubled_map)
print(next(doubled_map))
print(list(doubled_map))
print(list(doubled_map))

<map object at 0x797757727130>
2
[4, 6, 8, 10]
[]

##`filter()` Function

In [ ]:
numbers = [1, 2, 3, 4, 5]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
# even_numbers = map(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))

[2, 4]

In [ ]:
def filter_number(x):
  # if x%2==0:
  if x > 3:
    return x

In [ ]:
filtered_numbers = filter(filter_number, numbers)
# filtered_numbers = map(filter_number, numbers)
print(list(filtered_numbers))

[4, 5]

##`reduce()` Function

In [ ]:
from functools import reduce
numbers = [1, 2, 3, 4]
product = reduce(lambda x, y: x * y + 2, numbers)
print(product)
print(help(reduce))

##`sorted()` Function

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'durian']
sorted_fruits = sorted(fruits, key=lambda x: x[0])

print(sorted_fruits)

In [ ]:
data = [(2, 'Apple', 200), (3, 'Orange', 80), (1, 'Banana', 70)]
sorted_data = sorted(data, key=lambda x: x[0])
print(sorted_data)
help(sorted)

##Mixed Ues of HO Functions

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Using map to create an iterable of doubled numbers
doubled = map(lambda x: x * 2, numbers)

# Using filter to create an iterable of even numbers
evens = filter(lambda x: x % 2 == 0, numbers)

print(list(doubled))
print(list(evens))

[2, 4, 6, 8, 10]
[2, 4]

In [ ]:
import math

numbers = [4, 9, 16, 25]
square_roots = map(math.sqrt, numbers)
print("Sum of square roots:", square_roots)

Sum of square roots: <map object at 0x7977562fd3c0>

In [ ]:
#Run this twice
for root in square_roots:
    print(root)

In [ ]:
string_numbers = ["1", "2", "3", "4"]
integers = map(int, string_numbers)

# Use converted integers to calculate their product
from functools import reduce
product = reduce(lambda x, y: x * y, integers)
print("Product of all integers:", product)

Product of all integers: 24

In [ ]:
prices = {'apple': 0.5, 'banana': 0.25, 'cherry': 0.75}
updated_prices = dict(map(lambda item: (item[0], item[1] * 1.1), prices.items()))

# Use updated_prices for further calculations
print("Updated prices with 10% increase:", updated_prices)

Updated prices with 10% increase: {'apple': 0.55, 'banana': 0.275, 'cherry': 0.8250000000000001}

In [ ]:
list1 = [9, 2, 3, 6, 3]
list2 = [4, 5, 6, 8]
products = map(lambda x, y: x * y, list1, list2)

# Convert to list or directly iterate for further processing
for result in products:
    print("Product:", result)

Product: 36
Product: 10
Product: 18
Product: 48

# `*` Operator

##Unpacking Operator *

In [ ]:
def add_three_numbers(a, b, c):
  return a + b + c

numbers = [1, 2, 3]
result = add_three_numbers(*numbers)
print(result)

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = [list1, *list2]
print(combined_list)
print(combined_list[2])
print(combined_list[0])

In [ ]:
values = [1, 2, 3, 4, 5, 6]
first, *middle, last = values
print(first)
print(middle)
print(last)

In [ ]:
numbers = [range(5)]
print(numbers)
for i in numbers:
  print(i)

[range(0, 5)]
range(0, 5)

In [ ]:
for i in numbers:
    for j in i:
        print(j)

0
1
2
3
4

##*args

In [ ]:
def greet(*args):
  for name in args:
    print("Hello,", name)

greet("Satish", "Ramesh", "Kuldeep")

In [ ]:
def introduce(greeting, *args):
  print(greeting)
  for name in args:
    print(name)

introduce("Welcome everyone!", "Satish", "Ramesh", "Kuldeep")

##**kwargs

In [ ]:
def display_data(title, *args, **kwargs):
    print("Title:", title)
    print("Items:", args)
    print("Details:", kwargs)

display_data("Summary", "Item1", "Item2", key1="value1", key2="value2")

In [ ]:
def introduce(name, age, city):
    print(f"My name is {name}, I am {age} years old and I live in {city}.")

info = {"name": "Kuldeep", "age": 30, "city": "New Delhi"}
introduce(**info)

My name is Kuldeep, I am 30 years old and I live in New Delhi.

#Iterable Helper

In [ ]:
my_list = [1, 2, 3, 4]

for item in my_list:
  print(item)

In [ ]:
my_string = "hello"

for char in my_string:
  print(char)

In [ ]:
for number in range(3):
  print(number)

In [ ]:
my_dict = {"a": 1, "b": 2}
for key in my_dict:
  print(key)

## ZIP: `zip` Function

In [ ]:
list1 = [1, 2, 3, 5, 9, 78]
list2 = ["a", "b", "c", "d"]
combined = zip(list1, list2)
print(combined)

<zip object at 0x797756158880>

In [ ]:
for item in combined:
  print(item)

##Enumerate : `enumerate` Function

In [ ]:
losses = [0.9, 0.87,0.81, 0.76, 0.63, 0.69, 0.62, 0.58, 0.51, 0.45, 0.41, 0.38, 0.35]

for step, loss in enumerate(losses, start=1):
  if step % 4 == 0:
    print(f"Step {step}, Loss={loss}")

In [ ]:
predictions = [0, 1, 0, 1, 1]
labels      = [0, 1, 1, 1, 0]

for inedx, (pred, label) in enumerate(zip(predictions, labels)):
  print(f"Sample {inedx}: Pred={pred}, True={label}")

Sample 0: Pred=0, True=0
Sample 1: Pred=1, True=1
Sample 2: Pred=0, True=1
Sample 3: Pred=1, True=1
Sample 4: Pred=1, True=0

In [ ]:
for inedx, (pred, label) in enumerate(zip(predictions, labels)):
  if pred != label: print(f"Sample {inedx}: Pred={pred}, True={label}")

Sample 2: Pred=0, True=1
Sample 4: Pred=1, True=0

In [ ]:
["Sample "+ str(i)+ " Pred " + str(p) + " True " + str(l) for i, (p, l) in enumerate(zip(predictions, labels)) if p != l]

##Range : `range` Function

In [ ]:
x = range(11, -5, -1)
# x = range(11, -5, -2)
for index in x:
  print(f"Index {index}, Value {x[index]}")

Index 11, Value 0
Index 10, Value 1
Index 9, Value 2
Index 8, Value 3
Index 7, Value 4
Index 6, Value 5
Index 5, Value 6
Index 4, Value 7
Index 3, Value 8
Index 2, Value 9
Index 1, Value 10
Index 0, Value 11
Index -1, Value -4
Index -2, Value -3
Index -3, Value -2
Index -4, Value -1

In [ ]:
x = range(200, -100, -10)
for index in range(len(x)):  # looping over indices
  print(f"Index {index}, Value {x[index]}")

In [ ]:
epochs = 4
for epoch in range(epochs):
  print(f"Training epoch {epoch+1}")

In [ ]:
x=range(40, -10, -10)
# z=list(x)
print(type(x))
y=iter(x)
print(y)

<class 'range'>
<range_iterator object at 0x79775690e9d0>

In [ ]:
next(y)

20

### `any()`, `all()`, `min() and max()` Functions

In [ ]:
nums = [0, 7, 5, 1]

print(any(nums))
print(all(nums))

conditions = [x > 0 for x in nums]

print(conditions)
print(any(conditions))
print(all(conditions))

True
False
[False, True, True, True]
True
False

In [ ]:
words = ["python", "java", "c", "javascript"]

print(min(words, key=len))
print(max(words, key=len))

c
javascript

In [ ]:
students = [
    {"name": "S1", "score": 82},
    {"name": "S2", "score": 91},
    {"name": "S3", "score": 78}
]

topper = max(students, key=lambda s: s["score"])
print(topper)

{'name': 'S2', 'score': 91}

#OOP in Python for Deep Learning

In [ ]:
class Layer:
  def __inti__(self):
    self.input=None

  def forward(self, input):
    self.input = input
    print("This is the Forward Method of base class for Layer")
    return None

In [ ]:
import numpy as np

In [ ]:
class Dense(Layer):
  def __init__(self, input_size, output_size):
    self.weights = np.random.randn(output_size, input_size)
    self.bias = np.random.randn(output_size, 1)

  def forward(self, input):
    self.input = input
    print("This is the Forward Method of Dense Layer")
    return np.dot(self.weights, self.input) + self.bias

In [ ]:
L1=Layer()
L1.forward(3)
L2=Dense(3,2)
L2.weights
L2.forward(3)