<a href="https://colab.research.google.com/github/vkjadon/python/blob/main/at00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
!git clone https://github.com/vkjadon/utils.git

fatal: destination path 'utils' already exists and is not an empty directory.

In [2]:
# In Colab or Jupyter
from utils.test_runner import load_tests, check_solution
tests = load_tests("utils/test_lambda.py")

Write a lambda that returns square of a number (code = 1)

In [17]:
code = 1
q = lambda x: x**2

In [18]:
print("Status : ", check_solution(q, code, tests))

Status :  True

Write a lambda that checks if a number is even (code = 2)

In [13]:
code = 2
q = lambda x: x % 2 == 0

In [14]:
print("Status : ", check_solution(q, code, tests))

Status :  True

Write a lambda that returns max of two numbers (code = 3)

In [20]:
code = 3
q = lambda a, b: a if a > b else b

In [23]:
print("Status : ", check_solution(q, code, tests))

Status :  True

Lambda to reverse a string (code = 4)

In [10]:
code = 4
q = lambda s: s[::-1]

Status :  True

In [24]:
print("Status : ", check_solution(q, code, tests))

Status :  True

Lambda to return sum of digits of a number (code = 5)

In [25]:
code = 5
q = lambda n: sum(int(d) for d in str(n))

In [26]:
print("Status : ", check_solution(q, code, tests))

Status :  True

Lambda to return factorial (code = 6)

In [ ]:
import functools
code = 6
q = lambda n: 1 if n==0 else n*functools.reduce(lambda a,b:a*b, range(1,n+1))

In [ ]:
print("Status : ", check_solution(q, code, tests))

Lambda to check if string is palindrome (code = 7)

In [ ]:
code = 7
q = lambda s: s == s[::-1]

In [ ]:
print("Status : ", check_solution(q, code, tests))

Lambda to return min of three numbers (code = 8)

In [28]:
code = 8
q = lambda a,b,c: min(a,b,c)

In [29]:
print("Status : ", check_solution(q, 8, tests))

Status :  True

Lambda to count vowels in a string

In [12]:
q = lambda s: sum(1 for ch in s.lower() if ch in 'aeiou')
print("Status : ", check_solution(q, 9, tests))

Status :  True

Q : Lambda to sort a list of tuples by second element

In [6]:
q = lambda lst: sorted(lst, key=lambda x: x[1])
print("Status : ", check_solution(q, 10, tests))

Q10: True

A store gives a flat 10% discount if the bill amount is more than ₹1000, otherwise no discount.
Write a lambda that takes the bill amount and returns the final amount. (code = 1)

Given an age, write a lambda that returns True if the person is a teenager (13 - 19 inclusive), otherwise False. (code = 2)

A farmer has rectangular plots. Each plot is given as a tuple (length, width).
Write a lambda to find the plot with the largest area from a list of plots. (code = 3)

A student passes an exam if their score is >= 40, otherwise they fail.
Write a lambda that returns "Pass" or "Fail" given a score. (code = 4)

Shipping cost is ₹50 if weight ≤ 5kg, otherwise ₹100.
Write a lambda that takes weight and returns the shipping cost. (code = 5)

Given a temperature in Celsius, write a lambda to convert it to Fahrenheit.
Formula: F = (C x 9/5) + 32. (code = 6)

Write a lambda that returns a grade given a score: [90+ :  "A"; 75-89 : "B"; 50-74 : "C"; below 50 : "F"]

(code = 7)

An office allows entry only between 9 AM and 6 PM (inclusive).
Write a lambda that takes an integer hour (0-23) and returns True if allowed, else False. (code = 8)

Given a list of words, write a lambda with filter to return only those words which are palindromes. (code = 9)

Employees are represented as tuples (name, salary).
Write a lambda to sort a list of employees by salary in descending order. (code = 10)