<a href="https://colab.research.google.com/github/vkjadon/python/blob/main/Lambda_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Lambda Function

A lambda function, also known as an anonymous function, is a small and concise function in Python that doesn't require a defined name. It is defined using the lambda keyword, followed by the function arguements, a colon (:), and the expression to be evaluated.

Here are a few examples to illustrate the usage of lambda functions:

In [15]:
def add(a,b):
  return a+b

In [16]:
sum=add(10,17)
print(sum)

27

In [21]:
add = lambda a, b: a + b

This will create a function with name as 'add' with two parameters 'a' and 'b' and capable of performing the 'a+b' operation.

In [23]:
result = add(3, 4)
print(result)  # Output: 7

7

In [24]:
square = lambda x: x ** 2
result = square(5)
print(result)  # Output: 25

25

It is not necessary to write the name of the function to pass the arguement. Rather, we can use right hand side with lambda keyword enclosed within parenthesis to act as function name and pass the arguements as below.

In [7]:
(lambda a, b: a + b)(1,2)

3

The expression (lambda a, b: a + b)(1, 2) represents an Immediately Invoked Function Expression (IIFE) in Python. It creates an anonymous function that takes two arguments a and b and returns their sum. The function is then immediately invoked with the arguments 1 and 2.

In [25]:
#Keyword arguement
expression = lambda a, b, c : a * (b + c)
#arguement can be in any order
result = expression(3, c=10, b=5)
print(result)

45

In [11]:
#Default arguement
expression = lambda a, b, c=8 : a * (b + c)
#expression = lambda a, b=20, c : a * (b + c) #Will throw an error
#non-default argument follows default argument
result = expression(3, 10)
print(result)

54

In this example, we have a list of tuples called data. We want to sort the list based on the second element of each tuple (i.e., the fruit name). We use a lambda function as the key parameter in the sorted() function, specifying that we want to sort based on x[1], which represents the second element of each tuple. The resulting sorted list is printed.

In [27]:
data = [(2, 'Apple', 200), (3, 'Orange', 80), (1, 'Banana', 70)]
sorted_data = sorted(data, key=lambda x: x[2])
print(sorted_data)  # Output: [(2, 'Apple'), (1, 'Banana'), (3, 'Orange')]
help(sorted)

[(1, 'Banana', 70), (3, 'Orange', 80), (2, 'Apple', 200)]
Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

##Higher Order Functions

A higher-order function is a function that can take one or more functions as arguments and/or return a function as its result. In other words, it treats functions as first-class citizens, allowing them to be passed around and manipulated just like any other data type.

Some common examples of higher-order functions in Python include map(), filter(), and reduce(). These functions can take other functions as arguments to perform operations on iterable objects.

Here's an example to illustrate the concept of a higher-order function:

In [14]:
def double(x):
    return x * 2

def apply_operation(func, num):
    return func(num)

result = apply_operation(double, 5)
print(result)  # Output: 10

10

In this example, `double` is a function that takes a number and returns its double. The `apply_operation` function is a higher-order function that takes a function *func* and a number *num*. It calls the provided function func with the given number num and returns the result.

We can pass the `double` function as an argument to `apply_operation` and provide a number (5 in this case). The `apply_operation` function will then call the double function with the provided number, resulting in 10, which is printed as the output.

**Higher-order functions** are powerful because they allow for code reuse, modularity, and the ability to abstract and manipulate behavior. They enable functional programming paradigms and can lead to more concise and expressive code.

In [15]:
func_ho = lambda func, x : x + func(x)
func_ho(lambda x : x**2, 6)

42

In [16]:
func_ho(double, 9)

27

The `double` function doubles the number passed as arguement and `func_fo` add the number to the doubles number. So, output is three times the number.


**map()** - Applies a function to each element of an iterable and returns a new iterable with the transformed values.

In [17]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = map(lambda x: x**2, numbers)
print(list(squared_numbers))  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

**filter()** - Filters elements from an iterable based on a condition defined by a lambda function and returns a new iterable with the filtered values.

In [18]:
numbers = [1, 2, 3, 4, 5]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))  # Output: [2, 4]

[2, 4]

**reduce()** - Applies a function to the elements of an iterable in a cumulative way and returns a single value.

In [ ]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(product)  # Output: 120

120

**sorted()** - Sorts the elements of an iterable based on a comparison defined by a lambda function and returns a new list.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'durian']
sorted_fruits = sorted(fruits, key=lambda x: x[0])

print(sorted_fruits)  # Output: ['apple', 'banana', 'cherry', 'durian']

['apple', 'banana', 'cherry', 'durian']

##Unpacking Operator *

The * operator can unpack a list or tuple of arguments directly into a function call.

In [10]:
def add_three_numbers(a, b, c):
    return a + b + c

numbers = [1, 2, 3]
result = add_three_numbers(*numbers)  # Equivalent to add_three_numbers(1, 2, 3)
print(result)  # Output: 6

6

list

The * operator can be used to unpack lists or tuples when combining them.

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = [list1, *list2]
print(combined_list)  # Output: [1, 2, 3, 4, 5, 6]
print(combined_list[0])  # Output: [1, 2, 3, 4, 5, 6]

[[1, 2, 3], 4, 5, 6]
[1, 2, 3]

When you need to assign multiple variables from a list or tuple, * can capture remaining elements.

In [ ]:
values = [1, 2, 3, 4, 5]
first, *middle, last = values
print(first)   # Output: 1
print(middle)  # Output: [2, 3, 4]
print(last)    # Output: 5

1
[2, 3, 4]
5

You can use * to pass multiple items in a list or tuple as individual arguments to print()

In [ ]:
data = ["apple", "banana", "cherry"]
print(*data)
# Output: apple banana cherry

apple banana cherry

When creating a list or other data structure, * allows the elements from range() or other iterables to unpack into a single collection.

In [ ]:
numbers = [*range(5)]
print(numbers)  # Output: [0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]

##*args

When defining a function, *args allows it to accept an arbitrary number of positional arguments. These arguments are collected into a tuple.

In [2]:
def greet(*args):
    for name in args:
        print("Hello,", name)

greet("Alice", "Bob", "Charlie")
# Output:
# Hello, Alice
# Hello, Bob
# Hello, Charlie

Hello, Alice
Hello, Bob
Hello, Charlie

You can combine *args with regular parameters, allowing a function to accept required arguments and additional optional ones.

In [ ]:
def introduce(greeting, *args):
    print(greeting)
    for name in args:
        print(name)

introduce("Welcome everyone!", "Alice", "Bob", "Charlie")
# Output:
# Welcome everyone!
# Alice
# Bob
# Charlie

Welcome everyone!
Alice
Bob
Charlie

*args can be combined with both regular and keyword arguments. However, *args must come after all positional arguments and before **kwargs if used together.

In [ ]:
def display_data(title, *args, **kwargs):
    print("Title:", title)
    print("Items:", args)
    print("Details:", kwargs)

display_data("Summary", "Item1", "Item2", key1="value1", key2="value2")
# Output:
# Title: Summary
# Items: ('Item1', 'Item2')
# Details: {'key1': 'value1', 'key2': 'value2'}

Title: Summary
Items: ('Item1', 'Item2')
Details: {'key1': 'value1', 'key2': 'value2'}

*args can unpack a tuple of arguments to pass them to another function, which is helpful in function delegation or chaining.

In [ ]:
def calculate_sum(a, b, c):
    return a + b + c

values = (1, 2, 3)
result = calculate_sum(*values)
print(result)  # Output: 6

6

Starting in Python 3.8, you can use / and * in function definitions to specify that arguments before *args are positional-only. This means they cannot be passed as keywords.

In [1]:
def example(a, b, /, *args):
    print(a, b, args)

example(1, 2, 3, 4, 5)
# Output: 1 2 (3, 4, 5)

example(a=1, b=2, 3, 4, 5)  # This will raise an error

SyntaxError: positional argument follows keyword argument (<ipython-input-1-80d834114efe>, line 7)

##**kwargs

In Python, **kwargs (short for "keyword arguments") allows a function to accept an arbitrary number of keyword arguments. Here are its main uses:

The double ** operator can unpack a dictionary into keyword arguments.

In [ ]:
def introduce(name, age, city):
    print(f"My name is {name}, I am {age} years old and I live in {city}.")

info = {"name": "Alice", "age": 30, "city": "New York"}
introduce(**info)
# Output: My name is Alice, I am 30 years old and I live in New York.

My name is Alice, I am 30 years old and I live in New York.

## ZIP

In [ ]:
list1 = [1, 2, 3]
list2 = ["a", "b", "c"]
combined = zip(list1, list2)
for item in combined:
    print(item)
# Output:
# (1, 'a')
# (2, 'b')
# (3, 'c')

(1, 'a')
(2, 'b')
(3, 'c')

##Iterable

An iterable in Python is simply any object that can be "looped over" or "iterated through." In other words, it’s something you can use in a for loop to get each item one by one.

Think of an iterable like a list of instructions you follow step by step. It can be any collection of items, like a list, string, or even a range of numbers, where you go through each item in sequence.

In [31]:
my_list = [1, 2, 3, 4] #my_list is iterable

for item in my_list:
    print(item)

1
2
3
4

In [30]:
my_string = "hello" #my_string is iterable

for char in my_string:
    print(char)

h
e
l
l
o

In [32]:
for number in range(3):
    print(number)

0
1
2

In [34]:
my_dict = {"a": 1, "b": 2}
for key in my_dict:
    print(key)

a
b

For an object to be considered iterable in Python, it must have one essential characteristic: it must implement the _ _ iter _ _ () method or the _ _ getitem _ _ () method. Here’s what this means in simple terms and with some advanced examples:

In [35]:
class Countdown:
    def __init__(self, start):
        self.current = start

    def __iter__(self):
        return self  # Returns itself as an iterator

    def __next__(self):
        if self.current <= 0:
            raise StopIteration  # Stops iteration when we reach 0
        self.current -= 1
        return self.current + 1

# Using the custom iterable
countdown = Countdown(5)

for number in countdown:
    print(number)

5
4
3
2
1

In [36]:
numbers = [1, 2, 3, 4, 5]

# Using map to create an iterable of doubled numbers
doubled = map(lambda x: x * 2, numbers)

# Using filter to create an iterable of even numbers
evens = filter(lambda x: x % 2 == 0, numbers)

print(list(doubled))  # Output: [2, 4, 6, 8, 10]
print(list(evens))    # Output: [2, 4]

doubled = list(map(lambda x: x * 2, numbers))
print(doubled)  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]
[2, 4]
[2, 4, 6, 8, 10]

Same we can get without map function

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Creating a list by using a lambda function for each element
doubled = [lambda x: x * 2 for x in numbers]

In [ ]:
numbers = [1, 2, 3, 4, 5]
doubled = [(lambda x: x * 2)(x) for x in numbers]
print(doubled)  # Output: [2, 4, 6, 8, 10]

## map and list(map)

In [37]:
numbers = [1, 2, 3, 4, 5]

# Using map (lazy evaluation)
doubled_map = map(lambda x: x * 2, numbers)
print(doubled_map)         # Output: <map object at 0x...>
print(list(doubled_map))   # Output: [2, 4, 6, 8, 10]

# Once you consume the iterator, it’s exhausted:
print(list(doubled_map))   # Output: [] (iterator is exhausted)

# Using list(map(...)) (eager evaluation)
doubled_list = list(map(lambda x: x * 2, numbers))
print(doubled_list)        # Output: [2, 4, 6, 8, 10]
print(doubled_list)        # Output: [2, 4, 6, 8, 10] (list is reusable)

<map object at 0x7d3c99f0e320>
[2, 4, 6, 8, 10]
[]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [55]:
import math

numbers = [4, 9, 16, 25]
square_roots = map(math.sqrt, numbers)
print("Sum of square roots:", square_roots)

Sum of square roots: <map object at 0x7d3c99f0f490>

Returns an objects

In [56]:
#Run this twice
for root in square_roots:
    print(root)

2.0
3.0
4.0
5.0

In [41]:
string_numbers = ["1", "2", "3", "4"]
integers = map(int, string_numbers)

# Use converted integers to calculate their product
from functools import reduce
product = reduce(lambda x, y: x * y, integers)
print("Product of all integers:", product)

Product of all integers: 24

In [42]:
prices = {'apple': 0.5, 'banana': 0.25, 'cherry': 0.75}
updated_prices = dict(map(lambda item: (item[0], item[1] * 1.1), prices.items()))

# Use updated_prices for further calculations
print("Updated prices with 10% increase:", updated_prices)

Updated prices with 10% increase: {'apple': 0.55, 'banana': 0.275, 'cherry': 0.8250000000000001}

In [43]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
products = map(lambda x, y: x * y, list1, list2)

# Convert to list or directly iterate for further processing
for result in products:
    print("Product:", result)

Product: 4
Product: 10
Product: 18

##List Comprehension

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
results = ["odd" if x % 2 != 0 else "even" for x in numbers]
print(results)

['odd', 'even', 'odd', 'even', 'odd', 'even']

##OOP in Python for Deep Learning

In [ ]:
class Layer:
  def __inti__(self):
    self.input=None

  def forward(self, input):
    self.input = input
    print("This is the Forward Method of base class for Layer")
    return None

In [ ]:
import numpy as np

In [ ]:
class Dense(Layer):
  def __init__(self, input_size, output_size):
    self.weights = np.random.randn(output_size, input_size)
    self.bias = np.random.randn(output_size, 1)

  def forward(self, input):
    self.input = input
    print("This is the Forward Method of Dense Layer")
    return np.dot(self.weights, self.input) + self.bias

In [ ]:
L1=Layer()
L1.forward(3)
L2=Dense(3,2)
L2.weights
L2.forward(3)

This is the Forward Method of base class for Layer
This is the Forward Method of Dense Layer

array([[ 1.70912621, -4.66404511,  0.44218798],
       [-6.77092943,  3.75453537, -1.95353889]])