<a href="https://colab.research.google.com/github/vkjadon/python/blob/main/Lambda_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Lambda Function

A lambda function, also known as an anonymous function, is a small and concise function in Python that doesn't require a defined name. It is defined using the lambda keyword, followed by the function arguements, a colon (:), and the expression to be evaluated.

Here are a few examples to illustrate the usage of lambda functions:

In [ ]:
def sum(a,b):
  return a+b

In [ ]:
print(sum(10,17))

27

In [ ]:
(sum)(1,2)

3

In [ ]:
add = lambda a, b: a + b

This will create a function with name as 'add' with two parameters 'a' and 'b' and capable of performing the 'a+b' operation.

In [ ]:
result = add(3, 4)
print(result)  # Output: 7

7

In [ ]:
square = lambda x: x ** 2
result = square(5)
print(result)  # Output: 25

25

It is not necessary to write the name of the function to pass the arguement. Rather, we can use right hand side with lambda keyword enclosed within parenthesis to act as function name and pass the arguements as below.

In [ ]:
(lambda a, b: a + b)(1,2)

3

The expression (lambda a, b: a + b)(1, 2) represents an Immediately Invoked Function Expression (IIFE) in Python. It creates an anonymous function that takes two arguments a and b and returns their sum. The function is then immediately invoked with the arguments 1 and 2.

In [ ]:
#Keyword arguement
expression = lambda a, b, c : a * (b + c)
#arguement can be in any order
result = expression(3, c=10, b=5)
print(result)

45

In [ ]:
#Default arguement
expression = lambda a, b, c=8 : a * (b + c)
#expression = lambda a, b=20, c : a * (b + c) #Will throw an error
#non-default argument follows default argument
result = expression(3, 10)
print(result)

54

In this example, we have a list of tuples called data. We want to sort the list based on the second element of each tuple (i.e., the fruit name). We use a lambda function as the key parameter in the sorted() function, specifying that we want to sort based on x[1], which represents the second element of each tuple. The resulting sorted list is printed.

In [ ]:
data = [(2, 'Apple', 200), (3, 'Orange', 80), (1, 'Banana', 70)]
sorted_data = sorted(data, key=lambda x: x[2])
print(sorted_data)  # Output: [(2, 'Apple'), (1, 'Banana'), (3, 'Orange')]

[(1, 'Banana', 70), (3, 'Orange', 80), (2, 'Apple', 200)]

##Higher Order Functions

A higher-order function is a function that can take one or more functions as arguments and/or return a function as its result. In other words, it treats functions as first-class citizens, allowing them to be passed around and manipulated just like any other data type.

Some common examples of higher-order functions in Python include map(), filter(), and reduce(). These functions can take other functions as arguments to perform operations on iterable objects.

Here's an example to illustrate the concept of a higher-order function:

In [ ]:
def double(x):
    return x * 2

def apply_operation(func, num):
    return func(num)

result = apply_operation(double, 5)
print(result)  # Output: 10

10

In this example, `double` is a function that takes a number and returns its double. The `apply_operation` function is a higher-order function that takes a function *func* and a number *num*. It calls the provided function func with the given number num and returns the result.

We can pass the `double` function as an argument to `apply_operation` and provide a number (5 in this case). The `apply_operation` function will then call the double function with the provided number, resulting in 10, which is printed as the output.

**Higher-order functions** are powerful because they allow for code reuse, modularity, and the ability to abstract and manipulate behavior. They enable functional programming paradigms and can lead to more concise and expressive code.

In [ ]:
func_ho = lambda func, x : x + func(x)
func_ho(lambda x : x**2, 6)

42

In [ ]:
func_ho(double, 9)

27

The `double` function doubles the number passed as arguement and `func_fo` add the number to the doubles number. So, output is three times the number.


**map()** - Applies a function to each element of an iterable and returns a new iterable with the transformed values.

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = map(lambda x: x**2, numbers)
print(list(squared_numbers))  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

**filter()** - Filters elements from an iterable based on a condition defined by a lambda function and returns a new iterable with the filtered values.

In [ ]:
numbers = [1, 2, 3, 4, 5]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))  # Output: [2, 4]

[2, 4]

**reduce()** - Applies a function to the elements of an iterable in a cumulative way and returns a single value.

In [ ]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(product)  # Output: 120

120

**sorted()** - Sorts the elements of an iterable based on a comparison defined by a lambda function and returns a new list.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'durian']
sorted_fruits = sorted(fruits, key=lambda x: x[0])

print(sorted_fruits)  # Output: ['apple', 'banana', 'cherry', 'durian']

['apple', 'banana', 'cherry', 'durian']

##Unpacking Operator *

The * operator can unpack a list or tuple of arguments directly into a function call.

In [1]:
def add_three_numbers(a, b, c):
    return a + b + c

numbers = [1, 2, 3]
result = add_three_numbers(*numbers)  # Equivalent to add_three_numbers(1, 2, 3)
print(result)  # Output: 6

6

The * operator can be used to unpack lists or tuples when combining them.

In [8]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = [list1, *list2]
print(combined_list)  # Output: [1, 2, 3, 4, 5, 6]
print(combined_list[0])  # Output: [1, 2, 3, 4, 5, 6]

[[1, 2, 3], 4, 5, 6]
[1, 2, 3]

When you need to assign multiple variables from a list or tuple, * can capture remaining elements.

In [9]:
values = [1, 2, 3, 4, 5]
first, *middle, last = values
print(first)   # Output: 1
print(middle)  # Output: [2, 3, 4]
print(last)    # Output: 5

1
[2, 3, 4]
5

You can use * to pass multiple items in a list or tuple as individual arguments to print()

In [10]:
data = ["apple", "banana", "cherry"]
print(*data)
# Output: apple banana cherry

apple banana cherry

The double ** operator can unpack a dictionary into keyword arguments.

In [2]:
def introduce(name, age, city):
    print(f"My name is {name}, I am {age} years old and I live in {city}.")

info = {"name": "Alice", "age": 30, "city": "New York"}
introduce(**info)
# Output: My name is Alice, I am 30 years old and I live in New York.

My name is Alice, I am 30 years old and I live in New York.

##List Comprehension

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
results = ["odd" if x % 2 != 0 else "even" for x in numbers]
print(results)

['odd', 'even', 'odd', 'even', 'odd', 'even']

##OOP in Python for Deep Learning

In [ ]:
class Layer:
  def __inti__(self):
    self.input=None

  def forward(self, input):
    self.input = input
    print("This is the Forward Method of base class for Layer")
    return None

In [ ]:
import numpy as np

In [ ]:
class Dense(Layer):
  def __init__(self, input_size, output_size):
    self.weights = np.random.randn(output_size, input_size)
    self.bias = np.random.randn(output_size, 1)

  def forward(self, input):
    self.input = input
    print("This is the Forward Method of Dense Layer")
    return np.dot(self.weights, self.input) + self.bias

In [ ]:
L1=Layer()
L1.forward(3)
L2=Dense(3,2)
L2.weights
L2.forward(3)

This is the Forward Method of base class for Layer
This is the Forward Method of Dense Layer

array([[ 1.70912621, -4.66404511,  0.44218798],
       [-6.77092943,  3.75453537, -1.95353889]])