<a href="https://colab.research.google.com/github/vkjadon/python/blob/main/pythonIntro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Mathematical Model

Consider a bar of 10m long having uniform cross-section. The temperature of one end of the bar is kept at 10 $^0$C and is varying linearly to 50 $^0$C at other end. Find the temperature of the bar at a distance of 3.75 m from the colder end.

Let x represnts the lenght of the bar and y the corresponding temperature.

In [ ]:
# Mathematical Model of the system is based on the straight line equation
y=4x+10

SyntaxError: invalid decimal literal (<ipython-input-1-0b0e5da1ccf8>, line 2)

The execution throw some error related to 'decimal literal' as it does not understand that '4' and 'x' are to be multiplied. We have to use '*' to represent the multiplication of two quantities.
Modify the code

In [ ]:
y=4*x+10

NameError: name 'x' is not defined

To solve this equation, we must know the value of 'x' before above this line. So, let us write x=3.75 which in programming language is called the assignment of a value to a variable.

In [ ]:
x=3.75
y=4*x+10

The code is executing but it is not producing and output. Its similar that I ask a question and you process the answer but you do not tell. In this case the answer is stored in variable 'y'. We have to tell computer to display the answer. This is achieved by 'print' command.

In [ ]:
print(y)

25.0

This is the plain answer. We will discuss later how to make it more readable and formatted. No let us change the value of 'x' to 4 and check the answer.

In [ ]:
x=4
y=4*x+10
print(y)

26

See the difference between two, In first case its '25.0' a real number and in second case the answer is '26' and integer. The real numbers in coding languages are called 'float' number and integer as 'integer'. The are collectively called 'data-type'. So, in first case, the data-type of 'y' is 'float' in second case, the data-type is 'integer'. The python automatically assign the data-type to a variable according to its assigned value.

In [ ]:
print(type(y))

<class 'float'>

We can check the methods available in the 'float' class.

In [4]:
print(dir(float) )

['__abs__', '__add__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__setformat__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

Most of these are special methods (starting with double underscore '__').

##Conditional Statements

It is said that the rod is said to be cold if the temperature is less than 35 $^0$C and otherwise hot.
Try to find the state of the rod at a distance of 6.5 m.

In [ ]:
x=6.5
y=4*x+10
if y<35:
  print('Cold')
else:
  print('Hot')

Hot

The general syntax for the conditional statement is:

'''
x=
'''

We can add another category of warm in case the temperature is between 30 $^0$C and 40 $^0$C.

In [ ]:
x=6.5
y=4*x+10
if y<35:
  print('Cold')
elif y<40:
  print('Warm')
else:
  print('Hot')

Warm

##Looping

Now, let us find the temperature distribution of the bar at an interval of 0.5 m. In this case we have to first populate the data points of the distance as:

0, 0.5, 1.0, 1.5 ............ 9.0, 9.5, 10.0

These need to be stored in a variable. Let us assume the variable name as lenght_coordinates. Pyhton has another data type of list which we can use to store all the coordinates in the valiable lenght_coordinates.

This we will be doing in two steps. In first step, we shall learn how to generate these nubmers and then we shall store in the variable.

We have a range function with minimum one arguement

In [ ]:
x = range(11)
for n in x:
  print(n)

When two arguements are passed, the first is taken as start number and the second is taken as end number.

In [ ]:
x = range(11,1)
for n in x:
  print(n)

In [ ]:
x = range(11,-1)
for n in x:
  print(n)

In [ ]:
x = range(11,13)
for n in x:
  print(n)

11
12

In [ ]:
x = range(0,21)
for n in x:
  print(n)

In [ ]:
x = range(0,21)
for n in x:
  print(0.5*n)

This logic gives us the number on the screen but is not storing in the variable. For that

##List

Lists are one of the most flexible and commonly used data structures in Python. Each item in a list can be of any data type (e.g., integers, strings, other lists), and lists can contain items of different data types within the same list. A list is an ordered, mutable (modifiable) collection of items.

In [3]:
lenght_coordinates = [2, 4, 5.7, 'thermistor']
print(type(lenght_coordinates))

<class 'list'>

We can check the attributes and methods available in the 'list' class.

In [5]:
print(dir(lenght_coordinates))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

We find that 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort' are the various methods available for the 'lenght_coordinate' object of the 'list' class. You can use append method on the 'length_coordinates' to populate the desired coordinates.

In [6]:
lenght_coordinates = []
for i in range(21):
    lenght_coordinates.append(i * 0.5)
print(lenght_coordinates)

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0]

We can use list comprehension as below to get the desired result in one line

In [ ]:
lenght_coordinates = [x * 0.5 for x in range(21)]
print(lenght_coordinates)

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0]

##List Comprehension

List comprehension is a concise way to create lists in Python. It allows you to generate a new list by applying an expression to each item in an existing sequence (like a range or another list), all within a single line of code.

[expression for item in iterable if condition]

In [ ]:
squares = [x * x for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
even_squares = [x * x for x in range(10) if x % 2 == 0]
print(even_squares)

[0, 4, 16, 36, 64]