<a href="https://colab.research.google.com/github/vkjadon/python/blob/main/pythonIntro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mathematical Model

Consider a bar of 10m long having uniform cross-section. The temperature of one end of the bar is kept at 10 $^0$C and the other end is 50 $^0$C. Find the temperature of the bar at a distance of 3.75 m from the colder end.

In [1]:
# Mathematical Model of the system is based on the straight line equation
y=4x+10

SyntaxError: invalid decimal literal (<ipython-input-1-0b0e5da1ccf8>, line 2)

The execution throw some error related to 'decimal literal' as it does not understand that '4' and 'x' are to be multiplied. We have to use '*' to represent the multiplication of two quantities.
Modify the code

In [2]:
y=4*x+10

NameError: name 'x' is not defined

To solve this equation, we must know the value of 'x' before above this line. So, let us write x=3.75 which in programming language is called the assignment of a value to a variable.

In [3]:
x=3.75
y=4*x+10

The code is executing but it is not producing and output. Its similar that I ask a question and you process the answer but you do not tell. In this case the answer is stored in variable 'y'. We have to tell computer to display the answer. This is achieved by 'print' command.

In [4]:
print(y)

25.0

This is the plain answer. We will discuss later how to make it more readable and formatted. No let us change the value of 'x' to 4 and check the answer.

In [6]:
x=4
y=4*x+10
print(y)

26

See the difference between two, In first case its '25.0' a real number and in second case the answer is '26' and integer. The real numbers in coding languages are called 'float' number and integer as 'integer'. The are collectively called 'data-type'. So, in first case, the data-type of 'y' is 'float' in second case, the data-type is 'integer'. The python automatically assign the data-type to a variable according to its assigned value.